
body {
	background-color:#f4f3ee;
	margin-left: auto;
    margin-right: auto;
    width: 45em

}


a {

 color: #646ead;
}
h1 {
	font-family: "Myriad Pro", Helevetica Neue, sans-serif;
	color: #646ead;
	text-align: center;

}

h2 {
	font-family: "Myriad Pro", Helevetica Neue, sans-serif;
	color: #5e5e5b;
	text-align: center;
}

h3 {
	font-family: "Myriad Pro", Helevetica Neue, sans-serif;
	color: #adaba6;
}

h4 {
	font-family: "Myriad Pro", Helevetica Neue, sans-serif;
	color: #646ead;
	margin-bottom:-0.6em;


}

h5 {
	font-family: "Myriad Pro", Helevetica Neue, sans-serif;
	color: #adaba6;
}

h6 {
	font-family: "Myriad Pro", Helevetica Neue, sans-serif;
	color: #5e5e5b;
	text-align: center;
}

img {
	max-width: 24em;
}

p {
	color: #5e5e5b;
	font-family: "Minion Pro", Georgia, serif;
	line-height: 1.4em;
	
}

li {
	color: #5e5e5b;
	font-family: "Minion Pro", Georgia, serif;
	list-style-type: none;
	padding-left: 0;
	line-height: 1.4em;
}

ul {
	padding-left:0;
}


.column {
	float: left;
	width: 33.33%;
	text-align: center;
}

.row {

	margin-left: auto;
    margin-right: auto;
    width: 40em
}
.row:after {
	content: "";
	display: table;
	clear: both;
}




.header {
	margin-left: auto;
    margin-right: auto;
    width: 30em
}


.footer {
	margin-top: 10em;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 30em

}